* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #323133;
  color: #333;
  background: linear-gradient(to left, #6a50a7, #3bafda, #37bc9b);
  background-size: 600% 600%;
  -webkit-animation: bgBlend 30s ease infinite;
  -moz-animation: bgBlend 30s ease infinite;
  animation: bgBlend 30s ease infinite; }

@-webkit-keyframes bgBlend {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes bgBlend {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes bgBlend {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4em; }

img {
  max-width: 100%; }

button {
  outline: none; }

.forecast,
.location {
  min-width: 290px; }

.forecast-unit {
  color: #d3dce9;
  background-color: rgba(211, 220, 233, 0.2);
  background-image: linear-gradient(to right, rgba(93, 156, 236, 0.8) 50%, transparent 50%);
  background-size: 105%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  box-shadow: 1px 1px 3px rgba(50, 49, 51, 0.2);
  border-top: none;
  position: absolute;
  top: 0;
  right: 15px; }
  .forecast-unit.metric {
    background-position: -52%;
    background-size: 200%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease; }
  .forecast-unit .unit {
    padding: 6px 8px;
    float: left; }
    .forecast-unit .unit:hover {
      cursor: pointer; }
    .forecast-unit .unit .type {
      font-size: 0.8em;
      margin: 0; }

.forecast-title {
  width: 100%;
  color: #F5F7FA;
  margin: 20px 0 0; }
  .forecast-title .title {
    font-size: 1.6em;
    text-align: left;
    text-transform: uppercase;
    margin: 0; }
    .forecast-title .title form {
      width: 100%;
      font-size: 2em;
      display: block;
      padding-top: 5px; }
    .forecast-title .title #locationInput {
      width: 100%;
      text-align: left;
      text-transform: uppercase;
      border: none;
      padding-left: 10px;
      background-color: rgba(211, 220, 233, 0.2);
      outline: none;
      border-radius: 0px;
      box-shadow: 1px 1px 3px rgba(50, 49, 51, 0.2); }

.forecast {
  background-color: rgba(245, 247, 250, 0.4);
  text-align: center;
  padding: 20px;
  border: 3px solid #F5F7FA;
  box-shadow: 1px 1px 3px rgba(50, 49, 51, 0.2);
  margin-top: 20px; }
  .forecast:after {
    content: "";
    display: table;
    clear: both; }
  .forecast .forecast-week {
    box-shadow: 1px 1px 3px rgba(50, 49, 51, 0.2); }
    .forecast .forecast-week .forecast-day {
      width: 14.28571%;
      background-color: #F5F7FA;
      padding: 10px;
      border-right: 1px solid rgba(211, 220, 233, 0.4);
      float: left; }
      .forecast .forecast-week .forecast-day:last-child {
        border-right: 1px solid transparent; }
      .forecast .forecast-week .forecast-day .day {
        font-size: 1.4em;
        text-transform: uppercase;
        margin: 0; }
      .forecast .forecast-week .forecast-day .condition {
        min-height: 30px;
        font-size: 0.8em;
        text-transform: capitalize;
        padding: 0; }
      .forecast .forecast-week .forecast-day .forecast-icon {
        max-width: 50%;
        display: block;
        padding: 16px 0 44px;
        margin: 0 auto; }
      .forecast .forecast-week .forecast-day .temps {
        padding: 0 2px;
        background-color: #d3dce9;
        box-shadow: 0px 0px 3px rgba(50, 49, 51, 0.1);
        background-image: linear-gradient(to right, rgba(93, 156, 236, 0.4) 50%, rgba(218, 68, 83, 0.4) 50%); }
        .forecast .forecast-week .forecast-day .temps .temp {
          width: 50%;
          background-color: #F5F7FA;
          font-weight: 600;
          padding: 10px 0;
          margin: 0; }
          .forecast .forecast-week .forecast-day .temps .temp.high {
            background-color: #fefbfb;
            color: #DA4453;
            float: right; }
          .forecast .forecast-week .forecast-day .temps .temp.low {
            background-color: #f4f8fe;
            color: #5D9CEC;
            float: left; }
          .forecast .forecast-week .forecast-day .temps .temp img {
            max-width: 5px;
            margin-right: 5px;
            margin-top: -3px; }
        .forecast .forecast-week .forecast-day .temps:after {
          content: "";
          display: table;
          clear: both; }

footer {
  font-size: 0.8em;
  text-align: center;
  padding-top: 40px; }
  footer a {
    color: #d3dce9;
    background-image: linear-gradient(to right, #5D9CEC 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 101% 0%;
    padding: 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s; }
    footer a:hover {
      color: #F5F7FA;
      text-decoration: none;
      background-position: 0%; }

@media screen and (max-width: 992px) {
  .forecast {
    font-size: 0.8em;
    padding: 10px; }
  .forecast-title .title {
    font-size: 1em; } }

@media screen and (max-width: 700px) {
  .forecast .forecast-week .forecast-day {
    width: 100%;
    text-align: left;
    border-right: none;
    border-bottom: 1px solid rgba(211, 220, 233, 0.4);
    position: relative; }
    .forecast .forecast-week .forecast-day:last-child {
      border-bottom: none; }
    .forecast .forecast-week .forecast-day .details {
      width: 30%;
      float: left;
      position: absolute;
      left: 60px; }
      .forecast .forecast-week .forecast-day .details .condition {
        padding: 0;
        margin: 0; }
    .forecast .forecast-week .forecast-day .forecast-icon {
      max-width: 30px;
      float: left;
      display: inline-block;
      padding: 3px 0 0 0;
      position: absolute;
      left: 15px; }
    .forecast .forecast-week .forecast-day .temps {
      width: 100px;
      text-align: center;
      float: right;
      box-shadow: none; } }

@media screen and (max-width: 350px) {
  .forecast-title .title {
    font-size: 0.8em; }
  .forecast {
    padding: 5px; }
    .forecast .forecast-week .forecast-day .details {
      width: 30%;
      float: left;
      position: absolute;
      left: 60px; }
      .forecast .forecast-week .forecast-day .details .day {
        font-size: 1.2em;
        padding-top: 2px; }
    .forecast .forecast-week .forecast-day .temps {
      width: 85px;
      text-align: center;
      float: right;
      box-shadow: none; } }
