$color-background: #323133;
$color-white: #F5F7FA;
$color-dark-white: darken($color-white, 10);
$color-high: #DA4453;
$color-low: #5D9CEC;



// --------------------------------------------------
// Mixins
// --------------------------------------------------
@mixin clearAfter() {
	content:"";
    display:table;
    clear:both;
}

@mixin boxShadow() {
	box-shadow: 1px 1px 3px rgba($color-background, .2);
}



// --------------------------------------------------
// Global Styles
// --------------------------------------------------
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Titillium Web', sans-serif;
    background-color: $color-background;
    color: #333;
    background: linear-gradient(to left, #6a50a7, #3bafda, #37bc9b);
	background-size: 600% 600%;
	-webkit-animation: bgBlend 30s ease infinite;
	   -moz-animation: bgBlend 30s ease infinite;
		    animation: bgBlend 30s ease infinite;
}

// Body Animation
@-webkit-keyframes bgBlend {
      0% { background-position: 0% 50% }
     50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}
@-moz-keyframes bgBlend {
      0% { background-position:   0% 50% }
     50% { background-position: 100% 50% }
    100% { background-position:   0% 50% }
}
@keyframes bgBlend { 
      0% { background-position:   0% 50% }
     50% { background-position: 100% 50% }
    100% { background-position:   0% 50% }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.4em;
}

img {
	max-width: 100%;
}

button {
	outline: none;
}



// --------------------------------------------------
// Forecast Unit
// --------------------------------------------------
.forecast-unit {
	color: $color-dark-white;
	background-color: lighten($color-background, 5%);
	background-image:linear-gradient(to right, $color-low 50%, transparent 50%);
	background-size: 105%;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
		    transition: all 1s ease;
	position: absolute;
	top: 0;
	right: 0;

	&.metric {
		background-position: -52%;
		background-size: 200%;
		-webkit-transition: all 1s ease;
		   -moz-transition: all 1s ease;
			    transition: all 1s ease;
	}

	.unit {
		padding: 6px 8px;
		float: left;

		&:hover {
			cursor: pointer;
		}
	
		.type {
			font-size: 0.8em;
			margin: 0;
		}
	}
}



// --------------------------------------------------
// Forecast Title
// --------------------------------------------------
.forecast-title {
	width: 100%;
	color: $color-white;
	margin: 20px -15px 0;

	.title {
		font-size: 1.6em;
		text-align: left;
		text-transform: uppercase;
		margin: 0;

		form { 
			width: calc(100% + 30px);
			font-size: 2em;
			display: block;
		}

		#locationInput {
			width: 100%;
			text-align: left;
			text-transform: uppercase;
			border: none;
			padding-left: 10px;
			background-color: rgba($color-dark-white, .2);
			outline: none;
			border-radius: 0px;
		}
	}
}



// --------------------------------------------------
// Weekly Forecast
// --------------------------------------------------
.forecast {
	background-color: rgba($color-white, .4);
	text-align: center;
	padding: 20px;
	border: 3px solid $color-white;
	@include boxShadow();
	margin-top: 20px;

	.forecast-week {
		@include boxShadow();

		.forecast-day {
			width: (100% / 7);
			background-color: $color-white;
			padding: 10px;
			border-right: 1px solid rgba($color-dark-white, .4);
			float: left;

			&:last-child {
				border-right: 1px solid transparent;
			}

			&:after {
				@include clearAfter();
			}

			.day {
				font-size: 1.4em;
				text-transform: uppercase;
				margin: 0;
			}

			.condition {
				text-transform: capitalize;
				padding: 0;
			}
			
			.forecast-icon {
				max-width: 50%;
				display: block;
				padding: 20px 0 30px;
				margin: 0 auto;
			}

			.temps {
				padding: 0 2px;
				background-color: $color-dark-white;
				box-shadow: 0px 0px 3px rgba($color-background, .1);
				background-image:
					linear-gradient(
						to right,
						rgba($color-low, .4) 50%,
						rgba($color-high, .4) 50%
					);

				.temp {
					width: 50%;
					background-color: $color-white;
					font-weight: 600;
					padding: 10px 0;
					margin: 0;

					&.high {
						background-color: lighten($color-high, 43%);
						color: $color-high;
						float: right;
					}

					&.low {
						background-color: lighten($color-low, 33%);
						color: $color-low;
						float: left;
					}
				}

				&:after {
					content: "";
					display: table;
					clear: both;
				}
			}
		}
	}
}



// --------------------------------------------------
// Responsive Styles
// --------------------------------------------------
@import '_responsive.scss';